.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 1;
}

.col-space {
    flex: 0.05;
}

.trade-buddy-logo {
    width: 320px;
    padding: 15px 15px 15px 15px;
}

.overview-container {
    display: flex;
    float: left;
    width: 100%;
}