.root {
    width: '100%';
    max-width: 360;
    background-color: #FFFFFF;
    margin: 15px;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
}

.title {
    flex: 1;
    color: #000000;
    font-family: 'AirbnbCereal-Medium';
    font-size: x-large;
    text-align: left;
    align-content: center;
    margin: auto;
}

.title-container {
    display: flex;
}

.user-button-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.cash-total {
    color: #000000;
    font-family: 'AirbnbCereal-Medium';
    font-size: medium;
}

.account-balance {
    font-family: 'AirbnbCereal-Light';
    font-size: medium;
    color: #000000;
    text-align: right;
    justify-content: center;
    margin: auto;
}

.account-card {
    display: flex;
    padding: 5px;
    margin: 0;
}

.pos {
    margin-bottom: 0;
    text-align: left;
}

.financial-service {
    font-family: 'AirbnbCereal-Light';
    font-size: medium;
    color: #000000;
    text-align: left;
}