.new-cash-account-form {
    display: flex;
    background-color: white;
}

.cash-account-container {
    display: flex;
    width: 100%;
}

.submit-button {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}

#balance {
    width:100%;
}