.modal-close {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.modal-title-container {
    display: flex;
}

.modal-title {
    flex: 1;
    font-family: 'AirbnbCereal-Medium';
    font-size: large;
    text-align: left;
    justify-content: center;
    margin: auto;
}