.title-container {
    display: flex;
    color: #000000;
}

.watchlist-container {
    margin: 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin: 15px;
}

.watchlist-title {
    flex: 1;
    font-family: 'AirbnbCereal-Medium';
    font-size: large;
    text-align: left;
    justify-content: center;
    margin: auto;
}

.refresh-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}