.estimated-total {
    display: inline-block;
    font-family: 'AirbnbCereal-Medium';
    font-size: 3vw;
}

.estimated-total-container {
    text-align: center;
}

.new-transaction-form {
    position: relative;
}

.price-quantity {
    width: 100%;
}

.submit-button-container {
    position: relative;
}
.submit-button {
    position: absolute;
    right: 0;
    bottom: 0;
}
