.account-balance {
    font-family: 'AirbnbCereal-Light';
    font-size: medium;
    color: #000000;
    text-align: right;
    justify-content: center;
    margin: auto;
}

.account-card {
    display: flex;
    padding: 5px;
    margin: 0;
}

.title {
    font-size: 14;
}

.pos {
    margin-bottom: 0;
    text-align: left;
}

.financial-service {
    font-family: 'AirbnbCereal-Light';
    font-size: medium;
    color: #000000;
    text-align: left;
}