a:hover {
    color: #000000;
    font-family: 'AirbnbCereal-Bold';
}

.navbar-container {
    display: flex;
    float: left;
    width: 100%;
}
.navbar-home {
    flex: 1;
    border-bottom: 2px solid #1E2E3B;
}

.navbar-img {
    height: 3vw;
    vertical-align: bottom;
    padding-right: 5px;
}

.navbar-item {
    text-decoration: none;
    padding-right: 1vw;
    padding-left: 1vw;
}

.navbar-account-group {
    flex: 1;
    position: relative;
    vertical-align: center;
    padding-top: 1.8vw;
    border-bottom: 2px solid #1E2E3B;
    font-family: 'AirbnbCereal-Light';
    font-size: 1.2vw;
    color: black;
}

.navbar-group {
    flex: 2;
    position: relative;
    padding-top: 1.8vw;
    border-bottom: 2px solid #1E2E3B;
    font-family: 'AirbnbCereal-Light';
    font-size: 1.2vw;
    color: #000000;
}

.navbar-spacer {
    flex: 0.05;
    padding-left: 6vw;
}

.navbar-title {
    color: #1E2E3B;
    font-family: 'AirbnbCereal-Medium';
    font-size: 1.5vw;
    padding-bottom: 10px;
}