.title-container{
    display: flex;
    float: left;
    width: 100%;
}

.securities-title-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.securities-title {
    flex: 3;
    font-family: 'AirbnbCereal-Medium';
    font-size: x-large;
    color: #000000;
    text-align: left;
    align-items: center;
    margin: auto;
}