.new-transaction-form {
    display: flex;
    background-color: #FFFFFF;
}

.securities-container {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin-top: 10px;
}

.securitites-table {
    min-width: 600;
    font-family: 'AirbnbCereal-Light';
}

.securities-title-container {
    display: flex;
    float: left;
    width: 100%;
}

.securities-title {
    flex: 3;
    font-family: 'AirbnbCereal-Medium';
    font-size: x-large;
    color: #000000;
    text-align: left;
    align-items: center;
    margin: auto;
}

.securities-title-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}