.exchange {
    display: flex;
    color: #000000;
    font-family: 'AirbnbCereal-Light';
    font-size: small;
    justify-content: flex-end;
}

.item-container {
    padding: 10px 10px 10px 0px;
}

.ticker {
    color: #000000;
    font-family: 'AirbnbCereal-Medium';
    font-size: medium;
    text-align: left;
}