body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'AirbnbCereal-Black';
  src: local('AirbnbCerealBlack'), url(./assets/fonts/AirbnbCereal/AirbnbCerealBlack.ttf) format('truetype');
}

@font-face {
  font-family: 'AirbnbCereal-Bold';
  src: local('AirbnbCerealBold'), url(./assets/fonts/AirbnbCereal/AirbnbCerealBold.ttf) format('truetype');
}

@font-face{
  font-family: 'AirbnbCereal-Light';
  src: local('AirbnbCerealLight'), url(./assets/fonts/AirbnbCereal/AirbnbCerealLight.ttf) format('truetype');
}

@font-face{
  font-family: 'AirbnbCereal-Medium';
  src: local('AirbnbCerealMedium'), url(./assets/fonts/AirbnbCereal/AirbnbCerealMedium.ttf) format('truetype');
}